{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <section class="section1">
        <div class="title text-light w-100 text-center">
            <h1 class="mt-lg-5">INSPIRE & EXPIRE</h1>
        </div>
        <div class="intro-btn w-100 text-center">
            <a href="#" class="btn-lg btn-primary text-info text-decoration-none">Prendre RDV</a>
            <a href="#" class="btn btn-primary text-info">Prendre RDV</a>
        </div>
        <img src="{{ asset('build/images/waterfalls.png') }}"
             alt="women sitting on a banch in front of waterfalls"
             class="intro-img">
    </section>

    <section class="section2 jumbotron container bg-white py-4 py-lg-5 px-0 mb-0 d-lg-flex text-lg-left">
        <div class="d-flex align-items-center justify-content-center">
            <img class="sophro-picture mr-lg-5 mb-3" src="{{ asset('build/images/profil.png') }}" alt="picture of the sophrologist">
        </div>
        <div class="container ml-lg-5 text-center text-lg-left">
            <h2 class="mb-4">Charlotte Ricordeau</h2>
            <h3 class="mb-4">Sophrologue Diététicienne Nutritionniste</h3>
            <p class="mb-4">Pourquoi suis-je devenue Sophrologue ? La sophrologie m’a beaucoup aidée pour mieux gérer certaines
                situations. Cette pratique m’a permis de prendre conscience que j’étais en capacité de réussir à la fois dans
                ma sphère personnelle comme dans ma vie professionnelle. J’ai ressenti très vite le besoin de faire connaitre
                cette méthode autour de moi et je me suis formée pour pouvoir la partager.</p>
            <a class="btn btn-primary text-info" href="#" role="button">En découvrir plus sur moi</a>
        </div>
    </section>


    <section class="section3 jumbotron jumbotron-fluid m-0 py-4 py-lg-5">
        <div class="container text-center text-lg-left">
            <div class="d-flex flex-column">
                <h2 class="mb-3">Qu'est ce que la sophrologie ?</h2>
                <p>La sophrologie est une méthode de relaxation psychocorporelle qui permet de retrouver un bien-être au
                    quotidien, de se détendre, de prendre conscience de ses propres capacités et de les développer.</p>
                <p class="text-truncate">Créée par le médecin Alfonso Caycedo en 1966, la sophrologie est une méthode de relaxation
                    psychocorporelle qui permet de retrouver un bien-être au quotidien, de prendre conscience de ses propres
                    capacités et de les développer.</p>
            </div>
            <a href="#" class="btn btn-primary text-info">En savoir plus</a>
        </div>
    </section>
{% endblock %}
