{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>INSPIRE & EXPIRE</h1>

    <section class="section3 jumbotron jumbotron-fluid">
        <div class="container">
            <div class="d-flex">
                <img src="{{ asset('build/images/lightbulb.png') }}"/>
                <h2 class="display-4">Qu'est ce que la sophrologie ?</h2>
            </div>

            <p>(Texte à remplir)</p>
            <a href="#" class="btn btn-primary text-info">En savoir plus</a>
        </div>
    </section>
{% endblock %}
