{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Sophrologie{% endblock %}

{% block body %}
    <h1>Projet 3 - Sophrologie</h1>
    <p>Entreprise INSPIRE & EXPIRE</p>
{#    <section class="d-flex justify-content-around text-center">#}
    <div style="color: black; background-color: #9FC5E9; width:100%; height: 180px; border: 1px solid black">Couleur primaire</div>
    <br>
    <div style="color: black; background-color: #A2C3C8; width:100%; height: 180px; border: 1px solid black">Couleur secondaire</div>
    <br>
    <div style="color: black; background-color: #FFE59A; width:100%; height: 180px; border: 1px solid black">Couleur tertiaire</div>
    <br>
    <div style="color: black; background-color: #f9ca9c; width:100%; height: 180px; border: 1px solid black">Couleur quartenaire</div>
{#    </section>#}
{% endblock %}
