{% extends 'layoutAdmin.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('newEvent') }}
{% endblock %}

{% block title %}Modifier un témoignage | {{ parent() }}{% endblock %}

{% block body %}

    <section class="sheettop">
        <main class="container ">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="title mb-5">Modification du témoignage "{{ testimony.title}}"</h1>
                </div>
            </div>
            <div class="admin-edit-event">
                {% include 'testimony/_form.html.twig' with {'button_label': 'Modifier'} %}
            </div>
            <a class="btn btn-outline-primary mt-5" href="{{ path('testimony_index') }}">Retour à la liste</a>
        </main>
    </section>
{% endblock %}
