{% extends 'layout.html.twig' %}

{% block title %}Inspire & Expire Sophrologie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('sophrology') }}
{% endblock %}

{% block body %}
    <header>
        <div class="card bg-white text-white">
            <img class="intro-img" src="{{ asset('build/images/snow.jpg') }}" alt="bannière">
            <div class="card-img-overlay">
                <h1 class="timetable-title text-center">LA SOPHROLOGIE</h1>
            </div>
        </div>
    </header>
{% endblock %}