{% extends 'layout.html.twig' %}

{% block title %}Inspire & Expire Besoin d'aide ?{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block body %}
    <h1 class="text-center py-5">BESOIN D'AIDE ?</h1>
{% endblock %}