{% block stylesheets %}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
<footer class="footer container-fluid ">
    <div class="container-fluid ">
        <div class="row py-4 text-center text-md-left justify-content-around">
            <div class="col-12 col-md-3">
                <h4>Inspire Expire</h4>




                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cupiditate delectus dignissimos illum
                    nisi odit pariatur, recusandae velit voluptatem voluptates. Aperiam assumenda dolorum facere fugiat
                    fugit illo quae quasi voluptatibus?</p>
            </div>
            <div class="col-12 col-md-2 mt-3 mt-md-0">
                <h4>Liens utiles</h4>
                <ul class="pl-0">
                    <li><a class="text-decoration-none" href="">Accueil</a></li>
                    <li><a class="text-decoration-none" href="">Sophrologie</a></li>
                    <li><a class="text-decoration-none" href="">Séances</a></li>
                    <li><a class="text-decoration-none" href="">Actualités</a></li>
                    <li><a class="text-decoration-none" href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2 mt-3 mt-md-0">
                <div class="d-flex justify-content-center">
                    <div>
                        <table class="mb-4">
                            <h4 class="text-center text-md-left">Contact</h4>
                            <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188
                                        8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3
                                        3-3 3 1.343 3 3-1.343 3-3 3z"/>
                                    </svg>
                                    304 Rue de Saint-Denis <br>
                                    45560 Saint-Denis-en-Val <br>
                                    France
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513
                              2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0
                              0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153
                              2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0
                              0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                                    </svg>
                                    06 27 30 98 90
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 text-center">
                <h4>Retrouvez nous sur </h4>
                <div class="d-flex justify-content-center p-4">
                    <div class="pr-5">
                        <a href="#" class="social-network">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                                <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3
                            8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209
                            2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"/>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="social-network">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                                <path d="M12 2.163c3.204 0 3.584.012
                         4.85.07 3.252.148 4.771 1.691 4.919 4.919.058
                          1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069
                           4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204
                            0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849
                             0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069
                              4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059
                               1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98
                                1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618
                                6.979-6.98.059-1.28.073-1.689.073-4.948
                                0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0
                                 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163
                                  6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0
                                   10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4
                                   4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441
                                   1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="py-0 ">
        <div class="col-12">
            <ul class="text-center pl-0 py-2">
                <li>
                    <a class="text-decoration-none" href="">Mentions légale</a>
                </li>
                <li>Site internet réalisé avec ❤ par la Wild Code School - copyright © Inspire-expire.com</li>
            </ul>
        </div>
    </div>
    <div class="btn-admin">
        {% if app.user %}
            <a class="btn btn-sm btn-admin-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% else %}
            <a class="btn btn-sm btn-admin-link" href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </div>
</footer>
