{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block stylesheets %}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block body %}
    <section class="container my-5">
        <h1 class="mb-5 text-center">Ajouter une question</h1>
        <div class="text-dark">
            <div class="text-dark">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}