@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=PT+Serif&family=Playfair+Display:ital@0;1&display=swap');
@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

p,
a {
  font-family: $text-font;
}

h1,
h2,
h3 {
  font-family: $title-font;
}

h4,
h5,
h6 {
  font-family: $sub-title-font;
}

.sheettop{
  margin-top: $spacing-section;
}
.title {
  text-align: center;

}

.event-list {
  .thumbnail {
    width: 100px;
  }

}

.table-hover{
  margin-top : $spacing-2;
}
