@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=PT+Serif&family=Playfair+Display:ital@0;1&display=swap');
@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    box-sizing: border-box;
}

p,
a {
    font-family: $text-font;
    font-size:$font-size-p;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    color: #006D77;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

strong {
    color: $strongWord;
}
