@import 'app.scss';

.timetable-section {
    background-color: $grey1;
}

.intro-img {
    height: 80%;
    width: 100%;
}

.strongDay {
    font-weight: bold;
}

.contact-right {
    background-color: $grey1;
}