@import 'app.scss';

.timetable-section {
    background-color: $grey1;
}

.intro-img {
    height: 80%;
    width: 100%;
}

.form-section {
    margin-top: $spacing-section;
}

.contact-right {
    background-color: $grey1;
}
