@import 'app.scss';

p,
li {
    font-family: $text-font;
    font-size: $font-size-p;
}

h1,
h2,
h3 {
    font-family: $title-font;
    font-size: x-large;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

.dandelion-logo {
    position: relative;
    top: 40px;
    animation: error404 8s ease-out 0s infinite;
}

.img-speciality-card {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.dandelion-logo {
    position: relative;
    top: 40px;
    animation: error404 8s ease-out 0s infinite;
}

@keyframes error404 {
    from {
        transform:rotate(0deg) scale(0.1);
    }

    20% {
        transform: rotate(360deg) scale(1.1);
    }

    40% {
        transform: rotate(390deg) translate(-60px, 0px);
    }

    60% {
        transform: rotate(330deg) translate(80px, -40px);
    }

    80% {
        transform: rotate(390deg)  translate(-60px, -150px);
    }

    to {
        transform: rotate(345deg)  translate(80px, -500px);
    }
}

.dandelion-logoA-500,
.dandelion-logoB-500 {
    position: relative;
    top: 40px;
}

.dandelion-logoA-500 {
    animation: error404 8s ease-out 0s infinite;
}

.dandelion-logoB-500 {
    animation: error500 8s ease-out 0s infinite;
}

@keyframes error500 {
    from {
        transform: rotate(0deg) scale(0.1);
    }

    20% {
        transform: rotate(-360deg) scale(1.1);
    }

    40% {
        transform: rotate(-390deg) translate(50px, 0px);
    }

    60% {
        transform: rotate(-330deg) translate(-40px, -50px);
    }

    80% {
        transform: rotate(-390deg)  translate(50px, -150px);
    }

    to {
        transform: rotate(-345deg)  translate(-40px, -300px);
    }
}
