@import 'app.scss';

p {
    font-family: $text-font;
}

h1,
h2,
h3 {
    font-family: $title-font;
    font-size: x-large;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

.intro-img {
    height: 80%;
    width: 100%;
}

.section1 {
    position: relative;
}

.title {
    position: absolute;
}

.intro-btn {
    bottom: 10px;
    position: absolute;
}

.sophro-picture {
    border-radius: 50%;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .5);
    height: 250px;
    width: 250px;
}

.speciality-card:hover {
    background-color: $bg-card;
    .speciality-card-title,
    .speciality-card-text {
        background-color: $bg-card;
    }
}
