@import 'app.scss';

p {
    font-family: $text-font;
}

h1,
h2,
h3 {
    font-family: $title-font;
    font-size: x-large;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

.intro-img {
    height: 80%;
    width: 100%;
}

.section1 {
    position: relative;
    height: 85vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: right 50% top 13%;;
}

.title {
    position: absolute;
}

.intro-btn {
    top: 10px;
    left: 10px;
    position: absolute;
}

.sophro-picture {
    border-radius: 50%;
    height: 275px;
    width: 275px;
}

.speciality-card:hover {
    background-color: $bg-card;

    .speciality-card-title {
        background-color: transparent;
    }

    .speciality-card-text {
        background-color: transparent;
    }
}

@media screen and (max-width: 500px) {
    .section1 {
        height: 30vh;
    }

    .intro-btn {
        top: 5px;
        left: 5px;
    }
}
