@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

p {
    font-family: $text-font;
}

h1,
h2,
h3 {
    font-family: $title-font;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

.intro-img {
    width: 100%;
    height: 80%;
}

.section1 {
    position: relative;
}

.title {
    position: absolute;
    top: 100px;
}

.intro-btn {
    position: absolute;
    bottom: 20px;
}
