@import 'app.scss';

p,
li {
    font-family: $text-font;
    font-size: $font-size-p;
}

h1,
h2,
h3 {
    font-family: $title-font;
    font-size: x-large;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

header {
    position: relative;
}

.background-image {
    background-image: url("../images/pissenlits.jpg");
    background-size: cover;
    filter: brightness(65%);
    height: 80vh;
}

.home-page-logo {
    position: absolute;
    top: 0.5%;

    .logo {
        height: 40%;
        width: 100%;
        max-height: 200px;
        max-width: 600px;
    }
}

.home-page-titles {
    position: absolute;
    bottom: 40%;

    :nth-child(2),
    :nth-child(1) {
        font-size: $font-size-home-title;
    }
}

.home-page-btn {
    position: absolute;
    bottom: 15%;

    a {
        color: $primary;
        border: 2px outset $primary;
        background-color: $light;
    }

    a:hover {
        color: $light;
        border: 2px solid $light;
        background-color: $primary;
    }
}

.sophro-picture {
    border-radius: 50%;
    height: 275px;
    width: 275px;
}

.section-card-speciality {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 49%;
}

@media screen and (max-width: 1000px) {

    .card {
        width: 100%;
    }
}

.italics {
    font-size: 12px;
    color : $grey2;
}

.dandelion-logo {
    position: relative;
    top: 40px;
    animation: error404 8s ease-out 0s infinite;
}

@keyframes error404 {
    from {
        transform:rotate(0deg) scale(0.1);
    }

    20% {
        transform: rotate(360deg) scale(1.1);
    }

    40% {
        transform: rotate(390deg) translate(-60px, 0px);
    }

    60% {
        transform: rotate(330deg) translate(80px, -40px);
    }

    80% {
        transform: rotate(390deg)  translate(-60px, -150px);
    }

    to {
        transform: rotate(345deg)  translate(80px, -500px);
    }
}

.dandelion-logoA-500,
.dandelion-logoB-500 {
    position: relative;
    top: 40px;
}

.dandelion-logoA-500 {
    animation: error404 8s ease-out 0s infinite;
}

.dandelion-logoB-500 {
    animation: error500 8s ease-out 0s infinite;
}

@keyframes error500 {
    from {
        transform: rotate(0deg) scale(0.1);
    }

    20% {
        transform: rotate(-360deg) scale(1.1);
    }

    40% {
        transform: rotate(-390deg) translate(50px, 0px);
    }

    60% {
        transform: rotate(-330deg) translate(-40px, -50px);
    }

    80% {
        transform: rotate(-390deg)  translate(50px, -150px);
    }

    to {
        transform: rotate(-345deg)  translate(-40px, -300px);
    }
}

@media screen and (max-width: 1100px) {
    .home-page-titles {
        bottom: 30%;
    }

    .home-page-btn {
        bottom: 10%;
    }
}

@media screen and (max-width: 500px) {
    .home-page-titles {
        bottom: 25%;
    }

    .home-page-btn {
        bottom: 10%;
    }
}

