@import 'app.scss';

p {
    font-family: $text-font;
}

h1,
h2,
h3 {
    font-family: $title-font;
    font-size: x-large;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

header {
    position: relative;
}

.background-image {
    background-image: url("../images/pissenlits.jpg");
    background-size: cover;
    filter: brightness(75%);
    height: 80vh;
}

.home-page-logo {
    position: absolute;
    top: 2%;

    .logo {
        height: 40%;
        width: 100%;
        max-height: 250px;
        max-width: 750px;
    }
}

.home-page-titles {
    position: absolute;
    bottom: 1%;

    :nth-child(2),
    :nth-child(3) {
        font-size: $font-size-title;
    }

    a {
        color: $primary;
        border: 2px outset $primary;
        background-color: $light;
    }

    a:hover {
        color: $light;
        border: 2px solid $light;
        background-color: $primary;
    }
}

.title {
    text-shadow: 3px 3px 5px $primary;
}

.sophro-picture {
    border-radius: 50%;
    height: 275px;
    width: 275px;
}

.speciality-card:hover {
    background-color: $bg-card;

    .speciality-card-title {
        background-color: transparent;
    }

    .speciality-card-text {
        background-color: transparent;
    }
}
