@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=PT+Serif&family=Playfair+Display:ital@0;1&display=swap');
@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

p {
    font-family: $text-font;
}

h1,
h2,
h3 {
    font-family: $title-font;
}

h4,
h5,
h6 {
    font-family: $sub-title-font;
}

.logo-user {
    height: 40px;
    width: 40px;
}

.nav-link {
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $font-size-p;
}

.navbar {
    background-color: $navbar;
}

img.logo-company {
    width: 250px;
    height: auto;
}

