@import 'app.scss';

.rounded-circle {
    width: $circle;
    height: $circle;
    background: $secondary;
    position: absolute;
    font-size: $font-size-number;
    top: -($height);
    left: 50%;
    transform: translateX(-50%)
}


.price:hover {
    transform: translateY(-15px);
}

.price {
    transition: all 200ms;
}

.price-height{
    height: 500px;
}

.background-section {
    background-color: $grey1;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-item {

}

#up {
    position: fixed;
    bottom: $etape;
    right: $font-size-h2;
}


