@import 'app.scss';

.rounded-circle {
    width: 80px;
    height: 80px;
    background: $secondary;
    position: absolute;
    font-size: 30px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%)
}


.tarif:hover {
    transform: translateY(-15px);
}

.background-section {
    background-color: $grey1;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-item {

}


