@import 'app.scss';

.rounded-circle {
    width: $circle;
    height: $circle;
    background: $secondary;
    position: absolute;
    font-size: $font-size-number;
    top: -($height);
    left: 50%;
    transform: translateX(-50%)
}


.tarif:hover {
    transform: translateY(-15px);
}

.tarif {
    transition: all 200ms;

}

.background-section {
    background-color: $grey1;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-item {

}


