@import 'app.scss';

img {
    width: 100%;
    height: auto;
}

.sophro-img,
.sophro-text {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .sophro-img,
    .sophro-text {
        width: 100%;
    }
}
