$primary: #9fc5e9;
$secondary: #a2c9c8;
$warning: #FFE59A;
$tertiary: #f9ca9c;
$info: darken($primary, 50%);

$light: #fff6db;
$dark: #000;

$grey1: #cfcfcf;
$grey2: #808080;
$grey3: #fff6db;

$logo-font: 'Arizonia', cursive;
$title-font: 'Playfair Display', serif;
$sub-title-font: 'Playfair Display', serif;
$text-font: 'PT Serif', serif;

$spacing: 8px;
$spacing-2: $spacing * 2;
$spacing-4: $spacing * 4;
$spacing-6: $spacing * 6;
$spacing-section: $spacing * 10;