$primary: #006D77;
$secondary: #a2c3c8;
$warning: #ffe59a;
$quartenary: #f9ca9c;
$info: darken($primary, 50%);

$navbar-dark-color: #f9f9f9;
$navbar-dark-hover-color: #83C5BE;


$strongWord: #006D77;
$bg-card: #e9ecef;

$navbar: #006D77;
$footer: #006D77;

$light: #ffffff;
$dark: #000000;

$grey1: #E6E9E7;
$grey2: #808080;
$grey3: #fff6db;
$pink: #F2BCD0;
$arrow: #FF8C42;

$logo-font: 'Arizonia', cursive;
$title-font: 'Playfair Display', serif;
$sub-title-font: 'Playfair Display', serif;
$text-font: 'PT Serif', serif;
$table-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


$font-size-home-title : 45px;
$font-size-title : 40px;
$font-size-h2: 35px;
$font-size-h3: 25px;
$font-size-p: 18px;
$font-size-p-smaller: 14px;
$font-navbar-footer-link: 23px;
$font-navbar-footer-p: 20px;
$height: 40px;
$font-size-number: 30px;
$circle: 80px;

$spacing: 8px;
$spacing-2: $spacing*2;
$spacing-4: $spacing*4;
$spacing-6: $spacing*6;
$spacing-section: $spacing*10;
$etape: 50px;

$custom-file-text: (
    en: "Browse",
    fr: "Rechercher"
);
