{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <section class="timetable-section">
        <div class="row mx-0 text-justify d-flex justify-content-center align-items-center">
            <div class="col-lg-3 col-sm-8 col-10 timetable-text">
                <h2 class="timetable-title">Les horaires</h2>
                <p>Lundi : 9h00-19h00</p>
                <p>Mardi : 9h00-19h00</p>
                <p>Mercredi : 9h00-19h00</p>
                <p>Jeudi : 9h00-19h00</p>
                <p>Vendredi : 9h00-19h00</p>
                <p>Samedi : Fermé</p>
                <p>Dimanche : Fermé</p>
            </div>
            <div class="col-lg-3 col-sm-8 offset-lg-1 timetable-image d-flex justify-content-center">
                <img class="img-timetable" src="{{ asset('build/images/contact-timetable.jpg') }}" alt="Image journal horaires"/>
            </div>
        </div>
    </section>
{% endblock %}