<style>
</style>

<h1>Une personne vous a contacté par le biais du formulaire de contact :</h1>
<br/><br/>
<h2>{{ contact.firstname }}</h2>
<h2>{{ contact.lastname }}</h2>
<h2>{{ contact.theme }}</h2>
<p>Message : {{ contact.message }}</p>