{% extends 'base.html.twig' %}

{% block title %}Edit Logo{% endblock %}

{% block body %}
    <h1>Edit Logo</h1>

    {% include 'admin_logo/_form.html.twig' with {'label_button': 'Modifier'} %}

    <a href="{{ path('logo_index') }}">back to list</a>

    {{ include('logo/_delete_form.html.twig') }}
{% endblock %}
