{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}
    {{ status_code }} - Page non trouvée | INSPIRE & EXPIRE
{% endblock %}

{% block body %}
    <section class="container h-100 mb-5">
        <div class="d-flex justify-content-center mb-5">
            <div class="d-flex align-items-end mr-3">
                <h1 class="d-flex align-baseline display-4">Oops page introuvable ... ERREUR</h1>
            </div>
            <h2 class="display-1">4</h2>
            <img src="{{ asset('build/images/dandelion.png') }}" alt="" class="dandelion-logo">
            <h2 class="display-1">4</h2>
        </div>

        <div class="d-flex align-items-center justify-content-center py-5">
            <h3 class="mb-0 mr-3">La page demandée s'est envolée, elle est introuvable</h3>
            <div><a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a></div>
        </div>

        <p>
            Vous pouvez naviguer sur les autres pages du site grâce à la barre de navigation juste au dessus.
            <br>
            Si une autre page demandée affiche la même erreur, n'hésitez pas à nous contacter afin de nous indiquer
            quelle section vous cherchiez à consulter.
            <br>
            Et surtout n'oubliez pas <strong>d'INSPIRER</strong> et <strong>d'EXPIRER</strong> doucement pour votre bien.
        </p>


    </section>
{% endblock %}
