{% extends 'layout.html.twig' %}

{% block title %}Espace utilisateur | {{ parent() }}{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
{% block body %}
    <section class="container sheettop mb-3 mb-lg-5">
        <p> Bienvenue {{ user.email }}</p>

    </section>

{% endblock %}


